In [1]:
import pandas as pd 
from tabula import read_pdf
import os

In [2]:
data = [['MULT', 63.8, 17.4], ['AI/AN', 57.7, 'NA'], ['BLK', 57.7, 12.3], ['WHT', 53.6, 6.0], ['HIS', 48.4, 7.2],['API', 48.4, 'NA']] 
race = pd.DataFrame(data, columns=['Race/Ethnicity', '% Sexual Violence Reported', '% Reported 12 months prior']) 
race.to_csv('Race.csv', sep=',', index=False, encoding='utf-8')
race

  Race/Ethnicity  % Sexual Violence Reported % Reported 12 months prior
0           MULT                        63.8                       17.4
1          AI/AN                        57.7                         NA
2            BLK                        57.7                       12.3
3            WHT                        53.6                        6.0
4            HIS                        48.4                        7.2
5            API                        48.4                         NA

In [18]:
#age_data = [[27.1, 45.2, 26.9, 'Female'], [21.4, 40.8, 36.3, 'Male']]
age_data = [
    [27.1, 'Female', '17 or younger'], [21.4, 'Male', '17 or younger'], 
    [45.2, 'Female', '18-24'], [40.8, 'Male', '18-24'],
    [26.9, 'Female', '25 and older'], [36.3, 'Male', '25 and older']]
age = pd.DataFrame(age_data, columns=['Percentage IPV Reported', 'Sex', 'Age'])
age.to_csv('Age.csv', sep=',', index=False, encoding='utf-8')
age

   Percentage IPV Reported     Sex            Age
0                     27.1  Female  17 or younger
1                     21.4    Male  17 or younger
2                     45.2  Female          18-24
3                     40.8    Male          18-24
4                     26.9  Female   25 and older
5                     36.3    Male   25 and older

In [4]:
contact = {'female': 19.6, 'male': 7.6}
physical = {'female': 42.0, 'male': 42.3}
stalking = {'female': 13.5, 'male': 5.2}
psychological = {'female': 49.4, 'male': 45.1}
data3 = [contact, physical, stalking, psychological]
female_male_data = pd.DataFrame(data3, index=['Contact Sexual Violence', 'Physical Violence', 'Stalking', 'Psycological Abuse'])
female_male_data
female_male_data.to_csv('Sexual_Violence_by_Sex.csv', sep=',', index=False, encoding='utf-8')
female_male_data

                         female  male
Contact Sexual Violence    19.6   7.6
Physical Violence          42.0  42.3
Stalking                   13.5   5.2
Psycological Abuse         49.4  45.1

In [5]:
eth_csv_path = "/Users/inesyang/Downloads/ethnicity_csv.csv"
ethnicity = pd.read_csv(eth_csv_path)

#Clean table 
ethnicity = ethnicity.rename(columns={"Column1": "Race/Ethnicity", 
    "Lifetime": "Lifetime Weighted %", 
    'Column3':'95% CI', 
    'Column4':'Lifetime Estimated # of Victims', 
    '12 Month 95% CI': '12 Month Weighted %', 
    'Column6': '12 Month 95% CI', 
    'Column7': '12 Month Estimated # of Victims'})
ethnicity = ethnicity.drop([0])
ethnicity['Race/Ethnicity'] = ethnicity['Race/Ethnicity'].replace(['Multiracial^{3}'], 'Multiracial')
ethnicity.to_csv('Ethnicity_Table8.csv', sep=',', index=False, encoding='utf-8')
ethnicity

,Race/Ethnicity,Lifetime Weighted %,95% CI,Lifetime Estimated # of Victims,12-Month,12 Month 95% CI,12 Month Estimated # of Victims
1,Hispanic,40.3,"(35.9, 44.7)","7,400,000",7.6,"(5.7, 10.1)","1,400,000"
2,Black,57.6,"(53.2, 61.9)","7,719,000",12.1,"(9.2, 15.6)","1,615,000"
3,White,44.0,"(42.2, 45.8)","34,080,000",5.5,"(4.8, 6.4)","4,276,000"
4,Asian or Pacific Islander,24.8,"(18.7, 32.1)","1,512,000",--,--,--
5,American Indian or Alaska Native,51.1,"(39.1, 63.0)","373,000",18.1,"(10.8, 28.8)","132,000"
6,Multiracial,51.5,"(43.6, 59.3)","1,043,000",13.7,"(9.3, 19.8)","278,000"

In [6]:
eth_csv_path7 = "/Users/inesyang/Downloads/ethnicity_table7.csv"
ethnicity7 = pd.read_csv(eth_csv_path7)

#Clean table 
ethnicity7 = ethnicity7.rename(columns={"Column1": "Race/Ethnicity", 
    "Lifetime": "Lifetime Weighted %", 
    'Column3':'Lifetime 95% CI', 
    'Column4':'Lifetime Estimated # of Victims', 
    '12 Month 95% CI': '12 Month Weighted %', 
    'Column6': '12 Month 95% CI', 
    'Column7': '12 Month Estimated # of Victims'})
ethnicity7 = ethnicity7.drop([0, 7])
ethnicity7['Race/Ethnicity'] = ethnicity7['Race/Ethnicity'].replace(['Multiracial^{3}'], 'Multiracial')
ethnicity7.to_csv('Ethnicity_Table7.csv', sep=',', index=False, encoding='utf-8')
ethnicity7

,Race/Ethnicity,Lifetime Weighted %,Lifetime 95% CI,Lifetime Estimated # of Victims,12-Month,12 Month 95% CI,12 Month Estimated # of Victims
1,Hispanic,42.1,"(38.2, 46.1)","7,618,000",7.2,"(5.4, 9.6)","1,304,000"
2,Black,53.6,"(49.7, 57.5)","8,234,000",12.3,"(9.7, 15.3)","1,883,000"
3,White,48.4,"(46.8, 50.1)","39,422,000",6.0,"(5.2, 6.9)","4,850,000"
4,Asian or Pacific Islander,27.2,"(20.3, 35.5)","1,903,000",--,--,--
5,American Indian or Alaska Native,57.7,"(45.4, 69.1)","457,000",--,--,--
6,Multiracial,63.8,"(56.5, 70.5)","1,372,000",17.4,"(12.6, 23.6)","375,000"